<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<div th:replace="layout/layout :: menu"></div>
	<div class="contenedor">
		<div class="header"><p></p></div>
		<div class="container" style="min-height: 100vh;">
			<div class="row">
			
				<h3 class="center-align">Sistema Control Clínico</h3>
				<br/>
				<h5>Soporte Técnico</h5>
				<br/>
				<h5>Instituto Técnologico Superior de Huetamo</h5>
				<br/>
				<h5>Tel: 7321025976</h5>
			</div>
		</div>
	</div>
</body>
</html>